/*Header*/
h1 {
    width: 100%;
    font-size: 64px;
    text-align: center;
}
.logo {
    width: 30%;
    height: 150px;
}
header {
    display: flex;
    flex-direction: row;
}
/*form*/
.incomes, .expenses {
    display: flex;
    flex-direction: column;
    width: 100%
}
.income_item, .expense_item {
    width: 50%;
    margin-bottom: 20px;
}
.expense_form {
    width: 50%;
}
.income_form {
    width: 50%;
}
content {
    display: flex;
    flex-direction: row;
}